* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --hue: 250;
  --nav: hsl(var(--hue), 81%, 34%);
  --nav-hover: hsl(0, 0%, 100%);
  --line: hsl(238, 76%, 18%);
  --body: hsl(var(--hue), 100%, 97%);
  --sections: hsl(var(--hue), 58%, 75%);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body);
}

section {
  padding-block: 4rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;

  width: min(60rem, 100%);

  margin-inline: auto;
}

/* ---------------- NAVIGATION BAR ------------------- */

#navbar {
  display: flex;
  justify-content: space-between;

  background-color: var(--sections);
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-items a {
  display: inline-block;

  padding: 10px 15px;

  text-decoration: none;

  font-size: 1.2rem;

  color: var(--nav);

  transition: 0.3s;
}

.nav-items:hover {
  /* opacity: 0.8; */
  color: var(--nav-hover);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 0;

  text-decoration: none;
}

.logo img {
  width: 5rem;
}

#line {
  border: 1px solid var(--line);
}

/* ---------------- HOME ------------------- */

#home {
  display: flex;
  justify-content: space-around;
}

#home header {
  text-align: left;
  line-height: 50px;
  font-size: 1.3rem;
}

#home p {
  text-align: left;
  font-size: 1.1rem;
  margin: 30px auto 0;

  line-height: 30px;
}

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

#home .part-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

/* ===================== Contact============================================*/
#contact {
  background-color: var(--sections);
}

#contact .wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#contact ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  font-size: 20px;
  font-weight: 500;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  list-style: none;
}

#contact header {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

/* ===================== FOOOTER ============================================*/
footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  padding-block: 6rem;
  text-align: left;
}

h2 {
  margin-bottom: 2rem;
}

footer p {
  line-height: 2rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  list-style: none;
  cursor: pointer;
}
